body {
    background-color: #1E90FF; /* sininen tausta */
    color: white;              /* valkoinen teksti */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

button, input, select {
    margin: 10px;
    padding: 5px 10px;
    font-size: 16px;
}

#scoreboard div {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    min-width: 120px;
}
